.grid-x.grid-margin-x{style: "margin: 20px 20px 0px 20px"}
  .cell.small-12.medium-8.medium-offset-2
    .card
      .card-section
        %h3 Look up your invitation by email
        %p
          It will be the same email where we sent the save the date.
        .grid-x.grid-margin-x
          .cell.small-6.medium-6
            = form_tag :invites, method: :get do
              = text_field_tag :email, nil, placeholder: "Email Address"
              = submit_tag "Submit", class: "button large"
