.grid-x
  .cell
    %a{id: "altitude"}
    .h1 Preparing for High Altitude
    %p We will have our wedding in Mountain Village, which is 9,545’ in elevation. Here’s some tips on how to make sure your stay isn’t as affected by the altitude.
    %br
    %ul
      %li
        %p If you can, stay at a lower altitude for a night. Here are some places we recommend:
        %ol
          %li Ridgeway, CO - Not far from Montrose airport, there are some good economical options to stay the night, with a super cute downtown and a great place to grab food: http://www.provisionschef.com/
          %li Palisades, CO - Good halfway point from Denver to Telluride if you want to break up the drive. There are a bunch of wineries here, and the wine is nothing super notable. However, the peaches are famous in the state (I’m super selling this one), and totally worth getting.
          %li Denver, CO - Lisa and Alex live here, and are happy to recommend places to stay and things to do
          %li Colorado Springs, CO - this is where Lisa grew up and her parents still live here
          %li Boulder, CO - crunch on granola, watch some street performers on Pearl Street, and see if you can catch anyone saying anything found on this blog: https://stayoutofmynamastespace.com/
        %li Drink a lot of water, and take it easy on your first night in Telluride. If at any point you start to feel dizzy, sit down, have some water and get some form of salt into your system.
        %li Watch your alcohol! One beer may feel fine for you at sea level, but one beer at altitude may make you tipsy. Ease into the drinking.

