%div{style: "margin: 20px 20px 0px 20px"}
  .card
    .card-section
      .h1 Preparing for High Altitude
      %p
        We will have our wedding in Mountain Village, which is 9,545’ in elevation. Here’s some tips on how to make sure your stay isn’t as affected by the altitude.  If you would like to read a more in depth article about it,
        %a{href: "https://www.uchealth.org/today/2017/12/15/altitude-sickness/", target: "_blank"}UCHealth
        has a good breakdown.
      %ul
        %li
          If you can, stay at a lower altitude for a night. Here are some places we recommend:
          %ol
            %li
              Ridgeway, CO - Not far from Montrose airport, there are some good economical options to stay the night, with a super cute downtown and a great place to grab
              %a{href: "http://www.provisionschef.com/"} food.
            %li Palisades, CO - Good halfway point from Denver to Telluride if you want to break up the drive. There are a bunch of wineries here, and the wine is nothing super notable. However, the peaches are famous, ripe this time of year, and totally worth getting.
            %li Denver, CO - Lisa and Alex live here, and are happy to recommend places to stay and things to do.
            %li Colorado Springs, CO - this is where Lisa grew up and her parents still live here.
            %li
              Boulder, CO - crunch on granola, watch some street performers on Pearl Street, and see if you can catch anyone saying anything found on this
              %a{href: "bloghttps://stayoutofmynamastespace.com/"} blog.
          %li Drink a lot of water, and take it easy on your first night in Telluride. If at any point you start to feel dizzy, sit down, have some water and get some form of salt into your system.
          %li Watch your alcohol! One beer may feel fine for you at sea level, but one beer at altitude may make you tipsy. Ease into the drinking.
  .card
    .card-section
      .h1 Preparing for a Drive
      %p While there is a small airport in Montrose, CO (less than 2 hours from Mountain Village), you may want to take a road trip from Denver's airport through the beautiful state of Colorado.
      %p We usually pass the time by downloading a few good podcasts. Here are a few we recommend:
      %ul
        %li Dan Carlin's Hardcore History - Dan Carlin is a journalist with a history problem. And a talking problem, with podcast episodes running anywhere from 2 hours to 4 hours in length. Take on his five part series on Ghengis Khan's rise and conquer of the steppe, or his six part series on the events leading up to and following the first World War. If you're the passenger, take a nap while Alex is driving and wake up to Dan Carlin talking about the exact same thing as when you fell asleep. Regardless of how you listen to it, be prepared to walk away sharing in Dan's infectious curiosity of past events.
        %li NPR's Rough Translation - This series takes a conversation that's happening in the USA and watches it take place in a different country. Learn about how Brazil executes affirmative action by being more racist, or how a California court decision has given license to a nationalist movement in India, or how Jane Austen is making Pakistani women more feminist. Episodes are about 30 minutes in length.


