.hero-section
  .hero-section-text
    %h1 Our Wedding
    %h5 We are sexy

.grid-x.grid-padding-x{style: "margin: 30px 20px 0px 20px"}
  .cell.small-12.medium-4.text-center
    .card
      .card-section
        = image_tag 'mountain-lodge.jpg', class: "card-image"
      .card-section
        %h3 Wedding Information
        %p
          August 25
          %sup
            th
          &nbsp;at The Mountain Lodge
        %a{href: '/wedding'}
          .button.hollow.large Learn More

  .cell.small-12.medium-4.text-center
    .card
      .card-section
        = image_tag 'mountain-lodge.jpg', class: "card-image"
      .card-section
        %h3 Our Story
        %p Learn how we met.
        %a{href: '/story'}
          .button.hollow.large Learn More
  .cell.small-12.medium-4.text-center
    .card
      .card-section
        = image_tag 'telluride-valley.jpg', class: "card-image"
      .card-section
        %h3 Prepare for your trip
        %p Preparing for altitude and other things to do in Colorado.
        %a{href: '/altitude'}
          .button.hollow.large Learn More


