.hero-section
  .hero-section-text
    %h1 Welcome to Lisa and Alex's Wedding
    %h5 August 25, 2019
    %a{href: '/wedding'}
      .button.large Wedding Details

.grid-x.grid-padding-x{style: "margin: 30px 20px 0px 20px"}
  .cell.small-12.medium-4.text-center
    .card
      = image_tag 'mountain-lodge.jpg', class: "card-image"
      .card-section
        %h3 More About the Wedding
        %p
          August 25
          %sup
            th
          &nbsp;at The Mountain Lodge in Telluride, CO
        %a{href: '/wedding'}
          .button.hollow.large Learn More

  .cell.small-12.medium-4.text-center
    .card
      = image_tag 'christmas_partythumbnail.jpg', class: "card-image"
      .card-section
        %h3 Our Story
        %p Learn how we met.
        %a{href: '/story'}
          .button.hollow.large Learn More
  .cell.small-12.medium-4.text-center
    .card
      = image_tag 'telluride-valley.jpg', class: "card-image"
      .card-section
        %h3 Prepare for your trip
        %p Preparing for altitude and other things to do in Colorado.
        %a{href: '/altitude'}
          .button.hollow.large Learn More


