%div{style: "margin: 20px 20px 0px 20px"}
  .card
    .card-section
      .h1 Registries
      %p We are registered for two registries, Zola and Amazon.  They are only online registries.
      .grid-x.grid-margin-x
        .cell.small-6.medium-6{style: 'text-align: center; padding-top: 15px;'}
          %a{href: "https://www.amazon.com/wedding/alex-orielly-lisa-vanarsdale-telluride-august-2019/registry/QTEE6DGRWPN5"}
            %img{src: "https://d1tntvpcrzvon2.cloudfront.net/vnassets/static/media/zola-logo-horizontal-black.34453bcb.svg", width: "200px"}
        .cell.small-6.medium-6{style: 'text-align: center'}
          %a{href: "https://www.zola.com/registry/alexandlisaaugust25"}
            %img{src: "https://tanyacostigan.files.wordpress.com/2016/02/amazon-registry-dc.png", width: "200px"}


