.card
  .card-section
    %a{id: "story"}
    .h1 Our Story
    %p We met when working for iTriage and both played for the company's recreational ultimate frisbee team. Alex had been playing since high school and Lisa was recruited because the coed team needed more women. Lisa is still terrible at frisbee to this day.
    %br
    %p We started becoming better friends and getting to know each other more. One day, Lisa asked Alex “how do you feel about the movie the Expendables?” And Alex mentioned how much he loved a good action movie. Lisa asked him out the next weekend.

    %br
    %p We started dating in October 2014 and currently enjoy their life in Denver. You can find them tending to their garden and beehives in the summer, and skiing or seeing a Broadway show in winter.
