%div{style: "margin: 20px 20px 0px 20px"}
  .card
    .card-section
      .h1 Wedding Details
      %p
        We are getting married on August 25th, 2019 at 5:30, at the
        %a{href: "https://www.mountainlodgetelluride.com/suites"}Mountain Lodge
        near Telluride, CO.
      %p The dress code will be to look nice, but not too fancy. No jeans, no ballgowns. No colors are off limits - the bride will be in red.
      %br
      .h4 Wedding Schedule
      %div 10am-3pm Brides Getting Ready(Madeline Salon in Mountain Village)
      %div 1-3pm Grooms Getting Ready(Mountain Lodge in Telluride)
      %div 3-5pm First Look and wedding party pictures
      %div
        %b 5:30-6pm Ceremony (on pool deck)
      %div 6-7pm Cocktail hour & family pictures
      %div 7-8pm Dinner
      %div 8-8:15pm Toasts
      %div 8:15-8:45pm Cutting cake
      %div 9-11pm Dance and have fun
      %br
      .h4 Accommodations
      %p
        We have a block of rooms reserved with the Mountain Lodge - please contact Sam Barnes at
        = mail_to "sbarnes@mountainlodgetelluride.com", "sbarnes@mountainlodgetelluride.com"
        or book online with the code
        %em“VANARSDALE”.
        If you are planning to book a cabin (3-6 bedrooms), it's encouraged that you book as early as possible due to the limited availability. However, there are many 1-2 bedroom options available. Reach out to Sam with any questions.
