.grid-x
  .cell
    %a{id: "about"}
    .h1 About the Wedding
    %p
      We’re getting married on August 25th, 2019, at the
      %a{href: "https://www.mountainlodgetelluride.com/suites"}Mountain Lodge
      near Telluride, CO.
    %br
    %p
      We have a block of rooms reserved with the Mountain Lodge - please contact Sam Barnes at sbarnes@mountainlodgetelluride.com or book online with the code
      %em“VANARSDALE”


