%div{style: "margin: 20px 20px 0px 20px"}
  .card
    .card-section
      .h1 About the Wedding
      %p
        We’re getting married on August 25th, 2019, at the
        %a{href: "https://www.mountainlodgetelluride.com/suites"}Mountain Lodge
        near Telluride, CO.
      %br
      %p The dress code will be to look nice, but not too fancy. No jeans, no ballgowns. No colors are off limits - the bride will be in red.
      %p
        We have a block of rooms reserved with the Mountain Lodge - please contact Sam Barnes at sbarnes@mountainlodgetelluride.com or book online with the code
        %em“VANARSDALE”. If you are planning to book a cabin (3-6 bedrooms), it's encouraged that you book as early as possible due to the limited availability. However, there are many 1-2 bedroom options available. Reach out to Sam with any questions.
