%div{style: "margin: 20px 20px 0px 20px"}
  .card
    .card-section
      .h1 Wedding Weekend
      %p Whenever you are able to join us in Telluride, there will be something going on. Feel free to join in on as much or as little as you want:

      .h5{style: "margin-bottom: 0px"} Friday
      %div 9am: Breakfast at the VanArsdale cabin
      %div
        7pm: Meet for drinks at the
        = link_to "Last Dollar Saloon", "https://lastdollarsaloon.com"
        in Telluride
      %br
      .h5{style: "margin-bottom: 0px"} Saturday
      %div 9am: Breakfast at the VanArsdale cabin
      %div
        10am: Carpool up to the
        = link_to "Alta Lakes", "https://www.gjhikes.com/2018/08/alta-lakes.html"
        for some hiking and picnicking. The drive is about 30 minutes from the hotel and 4WD is recommended.
      %br

      .h5{style: "margin-bottom: 0px"} Sunday
      %div 9am: Breakfast at the VanArsdale cabin - (groom not invited)
      %div 5:30pm: Wedding
      %br

      .h5{style: "margin-bottom: 0px"} Monday
      %div 9am: Breakfast at the VanArsdale cabin
